{% extends 'base.html.twig' %}

{% block body %}



    {% for basketItem in basketData %}
    <div>
        <h2>Basket Item ID: {{ basketItem.id }}</h2>
        <p>Date Added: {{ basketItem.dateAjout|date('Y-m-d H:i:s') }}</p>
        <p>Article ID: {{ basketItem.idArticle.refA }}</p>
        <p>Client ID: {{ basketItem.idClient.idU }}</p>
    </div>
{% endfor %}



{% endblock %}