{% extends 'base.html.twig' %}

{% block title %}Payment Cancel{% endblock %}

{% block body %}
    <h1>Payment Cancelled</h1>
    <p>We're sorry to hear that you've cancelled your payment for {{ product.nomProduit }}.</p>
{% endblock %}
