{% extends 'baseBack.html.twig' %}
{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Formualire Ajout Categorie</h1>
            <nav>

            </nav>
        </div>


        <div class="row">
            <div  style="display: flex;align-items: center;justify-content: center;margin-top: 0px; padding: 10px;">

                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Ajouter Catégorie</h5>

                        {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">CatLib</label>
                            <div class="col-sm-10">
                                {{ form_widget(f.catlib,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(f.catlib,{'attr':{'class':'text-danger'}}) }}
                            </div>
                        </div>


                        <br/>
                        <br/>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>

                            </div>
                        </div>
                        {{ form_end(f) }}
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}