{% extends 'baseBackCommand.html.twig' %}

{% block title %}brand{% endblock %}

{% block body %}

    <main id="main" class="main">
        <div class="pagetitle">
            <section class="section">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-bar" style="position: absolute; margin-top: -4.6%; right: 4.5%"></div>

                                <canvas id="myChart"></canvas>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['personnes', 'classique', 'paysages'],
                datasets: [{
                    label: 'Pourcentage %',
                    data: [{{ BMWPercentage }}, {{ MercedesPercentage }}, {{ AudiPercentage }}],

                    backgroundColor: [
                        '#ffcd56',
                        '#ff6384',
                        '#36a2eb',
                        '#fd6b19',
                        '#4bc0c0',
                        '#9966ff',
                        '#ff99cc'
                    ],
                    borderColor: [
                        '#ffcd56',
                        '#ff6384',
                        '#36a2eb',
                        '#fd6b19',
                        '#4bc0c0',
                        '#9966ff',
                        '#ff99cc'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }

            }
        });
    </script>
{% endblock %}