{% extends 'base.html.twig' %}

{% block title %}Edit Livreurs{% endblock %}

{% block body %}
    <h1>Edit Livreurs</h1>

    {{ include('livreurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_livreurs_index') }}">back to list</a>

    {{ include('livreurs/_delete_form.html.twig') }}
{% endblock %}
