{% extends 'base.html.twig' %}

{% block title %}New Livreurs{% endblock %}

{% block body %}
    <h1>Create new Livreurs</h1>

    {{ include('livreurs/_form.html.twig') }}

    <a href="{{ path('app_livreurs_index') }}">back to list</a>
{% endblock %}
